<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Hoteles</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: blue;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <h1>Lista de Hoteles</h1>
    
    <ul>
        <li>- Hotel Esperanza - Asuncion</li>
        <li>- Hotel La Perla I - Encarnacion</li>
        <li>- Hotel Las Lunas de Poetas - Villarrica</li>
    </ul>

</body>
</html>
